@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  padding: 12px;
}

/* Hide map attribution */
.maplibregl-ctrl-attrib {
  display: none !important;
}
